* 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
     url("/media/landing.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

:root {--main-color: rgba(240, 179, 15, 0.96);}
.theme-text {color: var(--main-color);}

.select {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}

.middle {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-down 0.5s;
}

.middle h1 {
    font-size: 60px;
}

/* || Modal window style */

.authForm {
    max-width: 100%;
}

.modal-body {
    padding: 0;
}

.modform {
    box-shadow: 0 4px 6px 0 rgb(22, 22 , 26, 0.18);
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

.icon-modal {
    display: flex;
    justify-content: center;
    margin: auto;
}

.modal-content {
    width: 80%;
    margin: 0 auto;
}

.modal-body {
    padding: 0;
}

.modalHeader {
    font-size: 2.3em;
    font-weight: bold;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-bottom: 25px;
}

.authForm {
    padding: 2em;
    max-width: 100%;
    color: #fff;
}

.input-group {
    position: relative;
}

.phone_label {
    color: black;
}

.phone_reset {
    position: absolute;
    color: black;
    border: none;
    top: 0;
    right: 0.5rem;
    bottom: 0;
    cursor: pointer;
    background: transparent;
}

.hidden {
    display: none;
}

/* || Effects */

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0px 1px 1px white inset, 0px 0px 6px var(--main-color);
}

.form-check-input:checked~ .form-check-label::before {
    background: black !important;
}

.phone_reset:hover {color: red;}
.phone_reset:active {opacity: .6;}



/* || Media queries */

@media (min-width: 320px) and (max-width: 575px) {

    .middle {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

    .middle h1 {
        font-size: 35px;
    }

    .modalHeader {
        font-size: 1.2em;
        font-weight: bold;
    }

    button[name="primary"] {
        font-size: 16px;
    }

}

@media (min-width: 414px) and (max-width: 575px) {

    .middle {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

    .middle h1 {
        font-size: 40px;
    }

    .modalHeader {
        font-size: 1.5em;
        font-weight: bold;
    }

    button[name="primary"] {
        font-size: 16px;
    }

}

@media (min-width: 575px) and (max-width: 768px){
    .middle {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

    .middle h1 {
        font-size: 45px;
    }

    .modalHeader {
        font-size: 1.5em;
        font-weight: bold;
    }

    button[name="primary"] {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .middle {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

    .middle h1 {
        font-size: 50px;
    }

    .modalHeader {
        font-size: 1.5em;
        font-weight: bold;
    }

    button[name="primary"] {
        font-size: 18px;
    }
}


@media (min-width: 992px) and (max-width: 1080px) {

   .middle {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

    .middle h1 {
        font-size: 50px;
    }

    .modalHeader {
        font-size: 1.5em;
        font-weight: bold;
    }

    button[name="primary"] {
        font-size: 20px;
    }

}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateX(-30rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}